---
# Imports

In [1]:
# imports.py
from imports import *
from sklearn.datasets import make_blobs

# plotting magic
%matplotlib inline

# custom mods
import tidy
import model_h
import wrangle

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

---
# Wrangle

In [2]:
df=wrangle.wrangle_df()

# df.info()
# # model_h.print_btcusd(df)
# df.head()

cached csv

In [3]:
df['atr'] = talib.ATR(df.high, df.low, df.close, 14)

In [4]:
df=df.loc['2021':]

---
# Train / Validate Split*

In [5]:
train, val=tidy.split_i(df)

---
# Model Results

In [6]:
df1=pd.read_csv('classi_train.csv').drop('Unnamed: 0',axis=1).set_index(train.index)
df2=pd.read_csv('classi_val.csv').drop('Unnamed: 0',axis=1).set_index(val.index)
df3=pd.read_csv('reg_val.csv').drop('Unnamed: 0',axis=1).set_index(val.index)
df4=pd.read_csv('reg_train.csv').drop('Unnamed: 0',axis=1).set_index(train.index)

In [35]:
df4.describe()

          fwd_ret         reg
count  446.000000  446.000000
mean     0.002604    0.002604
std      0.913825    0.163434
min     -3.777211   -0.391936
25%     -0.499245   -0.121946
50%      0.000000   -0.006409
75%      0.500755    0.109792
max      3.622124    0.531816

In [33]:
train=pd.concat([train,df1,df4],axis=1)
val=pd.concat([val,df2,df3],axis=1)

In [ ]:
(train.reg>-0.006409)&(train['class']=1)