# Imports

In [2]:
# imports.py
from imports import *

# plotting magic
%matplotlib inline


# !!! Warning !!! 
# *** no more warnings ***
# import warnings
# warnings.filterwarnings("ignore")

# custom mods
import tidy

ImportError: dlopen(/opt/homebrew/anaconda3/lib/python3.9/site-packages/talib/_ta_lib.cpython-39-darwin.so, 0x0002): symbol not found in flat namespace '_TA_ACOS'

In [ ]:
train,validate,test=tidy.finance_df()

cached csv

In [ ]:
# df=tidy.csv_btcusd()

In [ ]:
# df=tidy.pre_cleaning(df)

In [ ]:
# df=tidy.add_targets(df)

In [ ]:
# train,validate,test=tidy.model_btcusd(df)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1202 entries, 2014-09-17 00:00:00+00:00 to 2017-12-31 00:00:00+00:00
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open                1202 non-null   float64
 1   high                1202 non-null   float64
 2   low                 1202 non-null   float64
 3   close               1202 non-null   float64
 4   volume              1202 non-null   int64
 5   fwd_log_ret         1202 non-null   float64
 6   fwd_ret             1202 non-null   float64
 7   fwd_pct_chg         1202 non-null   float64
 8   fwd_close_positive  1202 non-null   bool
dtypes: bool(1), float64(7), int64(1)
memory usage: 85.7 KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 509 entries, 2021-01-01 00:00:00+00:00 to 2022-05-24 00:00:00+00:00
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open                509 non-null    float64
 1   high                509 non-null    float64
 2   low                 509 non-null    float64
 3   close               509 non-null    float64
 4   volume              509 non-null    int64
 5   fwd_log_ret         509 non-null    float64
 6   fwd_ret             509 non-null    float64
 7   fwd_pct_chg         509 non-null    float64
 8   fwd_close_positive  509 non-null    bool
dtypes: bool(1), float64(7), int64(1)
memory usage: 36.3 KB

In [ ]:
train.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive
date,,,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,-0.074643,-32.894013,-0.071926,False
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,-0.072402,-29.644012,-0.069843,False
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.035111,14.108002,0.035735,True
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,-0.024968,-10.082978,-0.024659,False
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.008317,3.330994,0.008352,True