In [1]:
# imports.py
from imports import *

# plotting magic
%matplotlib inline


# !!! Warning !!! 
# *** no more warnings ***
# import warnings
# warnings.filterwarnings("ignore")

# custom mods
import tidy

In [2]:
df = tidy.csv_btcusd()

cached csv

In [3]:
df = tidy.pre_cleaning(df)
df = tidy.add_targets(df)

In [4]:
df.isnull().sum()

open                  0
high                  0
low                   0
close                 0
volume                0
fwd_log_ret           0
fwd_ret               0
fwd_pct_chg           0
fwd_close_positive    0
dtype: int64

In [5]:
import waterman_python

cached csv

In [6]:
df = waterman_python.time_features(df)

In [7]:
df.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9
date,,,,,,,,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,-0.074643,-32.894013,-0.071926,0,1,0,0,0,0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,-0.072402,-29.644012,-0.069843,0,1,0,0,0,0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.035111,14.108002,0.035735,1,1,0,0,0,0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,-0.024968,-10.082978,-0.024659,0,1,0,1,0,0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.008317,3.330994,0.008352,1,1,0,0,0,0

In [8]:
df_circ = pd.read_csv('circulation_btc.csv')

In [9]:
df_circ

                Timestamp  total-bitcoins
0     2019-06-02 00:18:16     17735875.00
1     2019-06-02 20:17:26     17737212.50
2     2019-06-03 17:09:47     17738537.50
3     2019-06-04 11:51:21     17739875.00
4     2019-06-05 03:52:20     17741200.00
...                   ...             ...
1498  2022-05-28 17:39:10     19051918.75
1499  2022-05-29 10:23:24     19052581.25
1500  2022-05-30 03:30:14     19053243.75
1501  2022-05-30 20:57:44     19053906.25
1502  2022-05-31 13:47:21     19054568.75

[1503 rows x 2 columns]

In [10]:
df_circ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       1503 non-null   object
 1   total-bitcoins  1503 non-null   float64
dtypes: float64(1), object(1)
memory usage: 23.6+ KB

In [11]:
# Make index datetime index
df_circ.Timestamp = pd.to_datetime(df_circ.Timestamp, utc=True)
# turn Timestamp to index
df_circ = df_circ.set_index('Timestamp')
# Mean index by day
df_circ = df_circ.resample('D').mean()
# Add to df
df = df.join(df_circ)

In [12]:
df.tail()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9,total-bitcoins
date,,,,,,,,,,,,,,,
2022-05-20 00:00:00+00:00,30311.119141,30664.976563,28793.605469,29200.740234,30749382605,0.007896,231.486329,0.007927,1,0,0,1,0,0,1.904462e+07
2022-05-21 00:00:00+00:00,29199.859375,29588.869141,29027.394531,29432.226563,17274840442,0.029840,891.496093,0.030290,1,0,0,0,0,0,1.904562e+07
2022-05-22 00:00:00+00:00,29432.472656,30425.861328,29275.183594,30323.722656,21631532270,-0.041230,-1224.812500,-0.040391,0,0,0,0,0,0,1.904662e+07
2022-05-23 00:00:00+00:00,30309.396484,30590.585938,28975.560547,29098.910156,31483454557,0.018950,556.675782,0.019130,1,0,0,0,0,0,1.904728e+07
2022-05-24 00:00:00+00:00,29101.125000,29774.355469,28786.589844,29655.585938,26616506245,0.001170,34.708984,0.001170,1,0,0,0,0,0,1.904794e+07

In [13]:
df = df.dropna()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1085 entries, 2019-06-02 00:00:00+00:00 to 2022-05-24 00:00:00+00:00
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open                1085 non-null   float64
 1   high                1085 non-null   float64
 2   low                 1085 non-null   float64
 3   close               1085 non-null   float64
 4   volume              1085 non-null   int64
 5   fwd_log_ret         1085 non-null   float64
 6   fwd_ret             1085 non-null   float64
 7   fwd_pct_chg         1085 non-null   float64
 8   fwd_close_positive  1085 non-null   int64
 9   month_9             1085 non-null   int64
 10  month_10            1085 non-null   int64
 11  day_20              1085 non-null   int64
 12  day_1               1085 non-null   int64
 13  day_9               1085 non-null   int64
 14  total-bitcoins      1085 non-null   float64
dtypes: float64(8), int64(7)
memory usage: 135.6 KB

In [15]:
df['flow'] = df['total-bitcoins'] - df['total-bitcoins'].shift(1)

In [16]:
df = df.dropna()

In [17]:
df.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9,total-bitcoins,flow
date,,,,,,,,,,,,,,,,
2019-06-03 00:00:00+00:00,8741.747070,8743.500000,8204.185547,8208.995117,22004511436,-0.063001,-501.224121,-0.061058,0,0,0,0,0,0,17738537.5,1993.75
2019-06-04 00:00:00+00:00,8210.985352,8210.985352,7564.488770,7707.770996,24609731549,0.014996,116.460449,0.015109,1,0,0,0,0,0,17739875.0,1337.50
2019-06-05 00:00:00+00:00,7704.343262,7901.849121,7668.668457,7824.231445,21760923463,-0.000282,-2.208007,-0.000282,0,0,0,0,0,0,17741862.5,1987.50
2019-06-06 00:00:00+00:00,7819.633301,7937.340820,7571.471191,7822.023438,19474611077,0.027977,221.927734,0.028372,1,0,0,0,0,0,17743875.0,2012.50
2019-06-07 00:00:00+00:00,7826.901367,8126.153320,7788.373535,8043.951172,19141423231,-0.011229,-89.823242,-0.011167,0,0,0,0,0,0,17745875.0,2000.00

In [18]:
df['stock_flow_ratio'] = df['flow'] / df['total-bitcoins']

In [19]:
df.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9,total-bitcoins,flow,stock_flow_ratio
date,,,,,,,,,,,,,,,,,
2019-06-03 00:00:00+00:00,8741.747070,8743.500000,8204.185547,8208.995117,22004511436,-0.063001,-501.224121,-0.061058,0,0,0,0,0,0,17738537.5,1993.75,0.000112
2019-06-04 00:00:00+00:00,8210.985352,8210.985352,7564.488770,7707.770996,24609731549,0.014996,116.460449,0.015109,1,0,0,0,0,0,17739875.0,1337.50,0.000075
2019-06-05 00:00:00+00:00,7704.343262,7901.849121,7668.668457,7824.231445,21760923463,-0.000282,-2.208007,-0.000282,0,0,0,0,0,0,17741862.5,1987.50,0.000112
2019-06-06 00:00:00+00:00,7819.633301,7937.340820,7571.471191,7822.023438,19474611077,0.027977,221.927734,0.028372,1,0,0,0,0,0,17743875.0,2012.50,0.000113
2019-06-07 00:00:00+00:00,7826.901367,8126.153320,7788.373535,8043.951172,19141423231,-0.011229,-89.823242,-0.011167,0,0,0,0,0,0,17745875.0,2000.00,0.000113

In [20]:
df['stock_flow_ratio_change'] = df['stock_flow_ratio'].shift(1) - df['stock_flow_ratio']

In [21]:
df.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9,total-bitcoins,flow,stock_flow_ratio,stock_flow_ratio_change
date,,,,,,,,,,,,,,,,,,
2019-06-03 00:00:00+00:00,8741.747070,8743.500000,8204.185547,8208.995117,22004511436,-0.063001,-501.224121,-0.061058,0,0,0,0,0,0,17738537.5,1993.75,0.000112,NaN
2019-06-04 00:00:00+00:00,8210.985352,8210.985352,7564.488770,7707.770996,24609731549,0.014996,116.460449,0.015109,1,0,0,0,0,0,17739875.0,1337.50,0.000075,3.700141e-05
2019-06-05 00:00:00+00:00,7704.343262,7901.849121,7668.668457,7824.231445,21760923463,-0.000282,-2.208007,-0.000282,0,0,0,0,0,0,17741862.5,1987.50,0.000112,-3.662807e-05
2019-06-06 00:00:00+00:00,7819.633301,7937.340820,7571.471191,7822.023438,19474611077,0.027977,221.927734,0.028372,1,0,0,0,0,0,17743875.0,2012.50,0.000113,-1.396231e-06
2019-06-07 00:00:00+00:00,7826.901367,8126.153320,7788.373535,8043.951172,19141423231,-0.011229,-89.823242,-0.011167,0,0,0,0,0,0,17745875.0,2000.00,0.000113,7.171717e-07

In [22]:
df = df.dropna()

In [23]:
df.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9,total-bitcoins,flow,stock_flow_ratio,stock_flow_ratio_change
date,,,,,,,,,,,,,,,,,,
2019-06-04 00:00:00+00:00,8210.985352,8210.985352,7564.488770,7707.770996,24609731549,0.014996,116.460449,0.015109,1,0,0,0,0,0,17739875.0,1337.5,0.000075,3.700141e-05
2019-06-05 00:00:00+00:00,7704.343262,7901.849121,7668.668457,7824.231445,21760923463,-0.000282,-2.208007,-0.000282,0,0,0,0,0,0,17741862.5,1987.5,0.000112,-3.662807e-05
2019-06-06 00:00:00+00:00,7819.633301,7937.340820,7571.471191,7822.023438,19474611077,0.027977,221.927734,0.028372,1,0,0,0,0,0,17743875.0,2012.5,0.000113,-1.396231e-06
2019-06-07 00:00:00+00:00,7826.901367,8126.153320,7788.373535,8043.951172,19141423231,-0.011229,-89.823242,-0.011167,0,0,0,0,0,0,17745875.0,2000.0,0.000113,7.171717e-07
2019-06-08 00:00:00+00:00,8036.774902,8076.891113,7837.610840,7954.127930,16522722810,-0.034020,-266.050782,-0.033448,0,0,0,0,0,0,17747875.0,2000.0,0.000113,1.270037e-08