In [1]:
# imports.py
from imports import *

# plotting magic
%matplotlib inline


# !!! Warning !!! 
# *** no more warnings ***
# import warnings
# warnings.filterwarnings("ignore")

# custom mods
import tidy

In [2]:
df = tidy.csv_btcusd()

cached csv

In [3]:
df = tidy.pre_cleaning(df)
df = tidy.add_targets(df)

In [4]:
df.isnull().sum()

open                  0
high                  0
low                   0
close                 0
volume                0
fwd_log_ret           0
fwd_ret               0
fwd_pct_chg           0
fwd_close_positive    0
dtype: int64

In [5]:
import waterman_python

In [6]:
df = waterman_python.time_features(df)

In [7]:
df.head()

,open,high,low,close,volume,fwd_log_ret,fwd_ret,fwd_pct_chg,fwd_close_positive,month_9,month_10,day_20,day_1,day_9
date,,,,,,,,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,-0.074643,-32.894013,-0.071926,0,1,0,0,0,0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,-0.072402,-29.644012,-0.069843,0,1,0,0,0,0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.035111,14.108002,0.035735,1,1,0,0,0,0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,-0.024968,-10.082978,-0.024659,0,1,0,1,0,0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.008317,3.330994,0.008352,1,1,0,0,0,0